<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create guide</title>
</head>
<body>
<form action="#" th:action="@{/guide-create}" th:object="${guide}" method="post">
    <label for="Firstname">First name</label>
    <input type="text" th:field="*{name}" id="firstName" placeholder="First Name">
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{surname}" id="lastName" placeholder="Last Name">
    <label for="travelDirection">Trip direction</label>
    <input type="text" th:field="*{description}" id="travelDirection" placeholder="Country">
    <input type="submit" value="Create Guide">
</form>
</body>
</html>