<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Trips</title>
</head>
<body>
<div th:switch="${trips}">
    <h2 th:case="null">No trips found!</h2>
    <div th:case="*">
        <h2>Trips</h2>
        <table>
            <thead>
            <tr>
                <th hidden>Id</th>
                <th>Travel direction</th>
                <th>Guide</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="trip : ${trips}">
                <td th:text="${trip.id}" hidden></td>
                <td th:text="${trip.travelDirection}"></td>
                <td th:text="${trip.price}"></td>
                <td><a th:href="@{trip-update/{id}(id=${trip.id})}">Edit</a></td>
                <td><a th:href="@{trip-delete/{id}(id=${trip.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/trip-create">Create trip</a></p>
</div>
</body>
</html>